/*
* global styles
*/
/* reset styles */
* {
	margin: 0;
	padding: 0;
}
/* body styles */
body {
    color: #484848;
    font-family: Circular,"Helvetica Neue",Helvetica, Arial,sans-serif;
	font-size: 14px;
}
